{{>head}}

<body data-pc-preset="preset-1" data-pc-sidebar-theme="dark" data-pc-sidebar-caption="true" data-pc-direction="ltr"
    data-pc-theme="light">
    <div class="loader-bg">
        <div class="pc-loader">
            <div class="loader-fill"></div>
        </div>
    </div>
    {{>nav}}
    <div class="pc-container">
        <div class="pc-content"><!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-sm-auto">
                            <div class="page-header-title">
                                <h5 class="mb-0">Quản lý EVENT</h5>
                            </div>
                        </div>
                        <div class="col-sm-auto">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../navigation/index.html"><i
                                            class="ph-duotone ph-house"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0)">EVENT</a></li>
                                <li class="breadcrumb-item" aria-current="page">Setting event</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- [ breadcrumb ] end --><!-- [ Main Content ] start -->
            <div class="row"><!-- [ sample-page ] start -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-xxl-3">
                            <div class="card price-card">
                                <div class="card-body price-head bg-light-primary">
                                    <h5 class="text-primary">Nhiệm vụ ngày</h5>

                                </div>
                                <div class="card-body">

                                    <div class="d-grid"><a href="{{urlCurl}}/admin/mission" class="btn btn-primary">Cài
                                            đặt</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xxl-3">
                            <div class="card price-card">
                                <div class="card-body price-head bg-light-primary">
                                    <h5 class="text-primary">TOP tuần</h5>

                                </div>
                                <div class="card-body">

                                    <div class="d-grid"><button class="btn btn-primary">Cài đặt</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xxl-3">
                            <div class="card price-card">
                                <div class="card-body price-head bg-light-primary">
                                    <h5 class="text-primary">Giftcode</h5>

                                </div>
                                <div class="card-body">

                                    <div class="d-grid"><button class="btn btn-primary">Cài đặt</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xxl-3">
                            <div class="card price-card">
                                <div class="card-body price-head bg-light-primary">
                                    <h5 class="text-primary">VQMM</h5>

                                </div>
                                <div class="card-body">

                                    <div class="d-grid"><button class="btn btn-primary">Cài đặt</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{>foot}}
</body>

</html>