{{>head}}

<body data-pc-preset="preset-1" data-pc-sidebar-theme="dark" data-pc-sidebar-caption="true" data-pc-direction="ltr"
    data-pc-theme="light">
    <div class="loader-bg">
        <div class="pc-loader">
            <div class="loader-fill"></div>
        </div>
    </div>
    {{>nav}}
    <div class="pc-container">
        <div class="pc-content"><!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-sm-auto">
                            <div class="page-header-title">
                                <h5 class="mb-0">Settings</h5>
                            </div>
                        </div>
                        <div class="col-sm-auto">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../navigation/index.html"><i
                                            class="ph-duotone ph-house"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0)">Pages</a></li>
                                <li class="breadcrumb-item" aria-current="page">Settings</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- [ breadcrumb ] end --><!-- [ Main Content ] start -->
            <div class="row"><!-- [ site settings ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Cài đặt chung</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group row"><label class="col-form-label col-sm-3 text-sm-end">Tên
                                    web</label>
                                <div class="col-lg-6 col-sm-7"><input type="text" class="form-control"
                                        placeholder="Enter site name"></div>
                            </div>
                            <div class="form-group row"><label class="col-form-label col-sm-3 text-sm-end">Logo</label>
                                <div class="col-lg-6 col-sm-7"><input type="text" class="form-control"
                                        placeholder="Enter site name"></div>
                            </div>
                            <div class="form-group row"><label
                                    class="col-form-label col-sm-3 text-sm-end">Favicon</label>
                                <div class="col-lg-6 col-sm-7"><input type="text" class="form-control"
                                        placeholder="Enter site name"></div>
                            </div>
                            <div class="form-group row"><label class="col-form-label col-sm-3 text-sm-end">Tiêu
                                    đề</label>
                                <div class="col-lg-6 col-sm-7"><input type="text" class="form-control"
                                        placeholder="Enter unique id"></div>
                            </div>
                            <div class="form-group row"><label class="col-form-label col-sm-3 text-sm-end">Mô tả</label>
                                <div class="col-lg-6 col-sm-7"><input type="text" class="form-control"
                                        placeholder="Enter unique id"></div>
                            </div>
                            <div class="form-group row"><label
                                    class="col-form-label col-sm-3 text-sm-end">Keyword</label>
                                <div class="col-lg-6 col-sm-7"><input type="text" class="form-control"
                                        placeholder="Enter unique id"></div>
                            </div>
                            <div class="form-group row"><label
                                    class="col-form-label col-sm-3 text-sm-end">Background</label>
                                <div class="col-lg-6 col-sm-7"><input type="text" class="form-control"
                                        placeholder="Enter unique id"></div>
                            </div>
                            <div class="form-group row"><label class="col-form-label col-sm-3 text-sm-end">Chữ
                                    chạy</label>
                                <div class="col-lg-6 col-sm-7"><input type="text" class="form-control"
                                        placeholder="Enter unique id"></div>
                            </div>

                            <div class="form-group row"><label class="col-form-label col-sm-3 text-sm-end">Mô tả</label>
                                <div class="col-lg-6 col-sm-7"><input type="text" class="form-control"
                                        placeholder="Enter unique id"></div>
                            </div>

                            <div class="form-group row"><label class="col-form-label col-sm-3 text-sm-end">ON/OFF
                                    POPUP</label>
                                <div class="col-lg-6 col-sm-7"><select class="form-select">
                                        <option value="ON">ON</option>
                                        <option value="OFF">OFF</option>
                                    </select></div>
                            </div>

                            <div class="form-group row"><label class="col-form-label col-sm-3 text-sm-end">PopUp trang
                                    chủ</label>
                                <div class="col-lg-6 col-sm-7"><textarea class="form-control" id="exampleTextarea"
                                        rows="3"></textarea></div>
                            </div>

                            <div class="form-group row"><label class="col-form-label col-sm-3 text-sm-end">Bảo
                                    trì</label>
                                <div class="col-lg-6 col-sm-7">
                                    <div class="form-check form-switch switch-lg"><input type="checkbox"
                                            class="form-check-input input-primary f-16" id="customCheckdefout4"
                                            style="width: 5rem; height: 3rem" checked="checked"></div>
                                </div>
                            </div>

                            <div class="form-group row mb-0"><span class="col-form-label col-sm-3 text-sm-end"></span>
                                <div class="col-lg-6 col-sm-7"><button class="btn btn-primary me-2">Apply
                                        Change</button> <button class="btn btn-outline-secondary">Cancel</button></div>
                            </div>
                        </div>
                    </div>
                </div><!-- [ site settings ] end -->
            </div><!-- [ Main Content ] end -->
        </div>
    </div>
    {{>foot}}
</body>

</html>