{{>head}}

<body data-pc-preset="preset-1" data-pc-sidebar-theme="dark" data-pc-sidebar-caption="true" data-pc-direction="ltr"
    data-pc-theme="light">
    <div class="loader-bg">
        <div class="pc-loader">
            <div class="loader-fill"></div>
        </div>
    </div>
    {{>nav}}
    <div class="pc-container">
        <div class="pc-content"><!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-sm-auto">
                            <div class="page-header-title">
                                <h5 class="mb-0">Quản lý thành viên hệ thống</h5>
                            </div>
                        </div>
                        <div class="col-sm-auto">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../navigation/index.html"><i
                                            class="ph-duotone ph-house"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0)">User</a></li>
                                <li class="breadcrumb-item" aria-current="page">Thành viên hệ thống</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- [ breadcrumb ] end --><!-- [ Main Content ] start -->
            <div class="row"><!-- [ sample-page ] start -->
                <div class="col-sm-12">
                    <div class="card table-card">

                        <div class="card-body table-card">
                            <div class="datatable-wrapper datatable-loading no-footer searchable fixed-columns">

                                <div class="datatable-container">
                                    <table class="table tbl-product datatable-table" id="pc-dt-simple">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>SDT</th>
                                                <th>Số dư</th>
                                                <th>Nhóm</th>
                                                <th>Liên kết tele</th>
                                                <th>Tổng nạp</th>
                                                <th>Tổng rút</th>
                                                <th>Ngày tạo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-index="0">
                                                <td>1</td>
                                                <td>
                                                    0763637777
                                                </td>
                                                <td>
                                                    770.000đ
                                                </td>
                                                <td>
                                                    Đại lý cấp 1 (Hoa hồng 5%)
                                                </td>
                                                <td>
                                                    <span class="badge bg-light-success">Đã kích hoạt</span>
                                                </td>
                                                <td>550.000đ</td>
                                                <td>450.000đ</td>
                                                <td><span>2024-01-02</span>
                                                    <div class="prod-action-links">
                                                        <ul class="list-inline me-auto mb-0">
                                                            <li class="list-inline-item align-bottom"
                                                                data-bs-toggle="tooltip" aria-label="View"
                                                                data-bs-original-title="View"><a href="#"
                                                                    class="avtar avtar-xs btn-link-warning btn-pc-default"
                                                                    data-bs-toggle="offcanvas"
                                                                    data-bs-target="#productOffcanvas"><i
                                                                        class="ti ti-eye f-18"></i></a></li>
                                                            <li class="list-inline-item align-bottom"
                                                                data-bs-toggle="tooltip" aria-label="Edit"
                                                                data-bs-original-title="Edit"><a href="#!"
                                                                    class="avtar avtar-xs btn-link-success btn-pc-default"><i
                                                                        class="ti ti-edit-circle f-18"></i></a></li>
                                                            <li class="list-inline-item align-bottom"
                                                                data-bs-toggle="tooltip" aria-label="Delete"
                                                                data-bs-original-title="Delete"><a href="#"
                                                                    class="avtar avtar-xs btn-link-danger btn-pc-default"><i
                                                                        class="ti ti-trash f-18"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr data-index="1">
                                                <td>2</td>
                                                <td>
                                                    0763637777
                                                </td>
                                                <td>
                                                    770.000đ
                                                </td>
                                                <td>
                                                    Thành viên
                                                </td>
                                                <td>
                                                    <span class="badge bg-light-success">Đã kích hoạt</span>
                                                </td>
                                                <td>550.000đ</td>
                                                <td>450.000đ</td>
                                                <td><span>2024-01-02</span>
                                                    <div class="prod-action-links">
                                                        <ul class="list-inline me-auto mb-0">
                                                            <li class="list-inline-item align-bottom"
                                                                data-bs-toggle="tooltip" aria-label="View"
                                                                data-bs-original-title="View"><a href="#"
                                                                    class="avtar avtar-xs btn-link-warning btn-pc-default"
                                                                    data-bs-toggle="offcanvas"
                                                                    data-bs-target="#productOffcanvas"><i
                                                                        class="ti ti-eye f-18"></i></a></li>
                                                            <li class="list-inline-item align-bottom"
                                                                data-bs-toggle="tooltip" aria-label="Edit"
                                                                data-bs-original-title="Edit"><a href="#!"
                                                                    class="avtar avtar-xs btn-link-success btn-pc-default"><i
                                                                        class="ti ti-edit-circle f-18"></i></a></li>
                                                            <li class="list-inline-item align-bottom"
                                                                data-bs-toggle="tooltip" aria-label="Delete"
                                                                data-bs-original-title="Delete"><a href="#"
                                                                    class="avtar avtar-xs btn-link-danger btn-pc-default"><i
                                                                        class="ti ti-trash f-18"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="datatable-bottom">
                                    <div class="datatable-info">Showing 1 to 5 of 8 entries</div>
                                    <nav class="datatable-pagination">
                                        <ul class="datatable-pagination-list">
                                            <li
                                                class="datatable-pagination-list-item datatable-hidden datatable-disabled">
                                                <a data-page="1" class="datatable-pagination-list-item-link">‹</a>
                                            </li>
                                            <li class="datatable-pagination-list-item datatable-active"><a data-page="1"
                                                    class="datatable-pagination-list-item-link">1</a></li>
                                            <li class="datatable-pagination-list-item"><a data-page="2"
                                                    class="datatable-pagination-list-item-link">2</a></li>
                                            <li class="datatable-pagination-list-item"><a data-page="2"
                                                    class="datatable-pagination-list-item-link">›</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- [ sample-page ] end -->
            </div><!-- [ Main Content ] end -->
        </div>
    </div>
    {{>foot}}
</body>

</html>