{{>head}}

<body data-pc-preset="preset-1" data-pc-sidebar-theme="dark" data-pc-sidebar-caption="true" data-pc-direction="ltr"
    data-pc-theme="light">
    <div class="loader-bg">
        <div class="pc-loader">
            <div class="loader-fill"></div>
        </div>
    </div>
    {{>nav}}
    <div class="pc-container">
        <div class="pc-content"><!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-sm-auto">
                            <div class="page-header-title">
                                <h5 class="mb-0">Cài đặt vòng quay</h5>
                            </div>
                        </div>
                        <div class="col-sm-auto">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../navigation/index.html"><i
                                            class="ph-duotone ph-house"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0)">EVENT</a></li>
                                <li class="breadcrumb-item" aria-current="page">VQMM</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- [ breadcrumb ] end --><!-- [ Main Content ] start -->
            <div class="row"><!-- [ site settings ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Cài đặt vòng quay</h5>
                        </div>
                        <div class="card-body">
                            <form action="" method="post" id="formSetting">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="" class="il-gray fs-14 fw-500 mb-10">Tên vòng quay</label>
                                            <input type="text" class="form-control ih-medium ip-light" name="nameSite"
                                                value="THUECLMM.COM" placeholder="Nhập tên website của bạn">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="" class="il-gray fs-14 fw-500 mb-10">Ảnh vòng quay </label>
                                            <input type="text" class="form-control ih-medium ip-light" name="nameSite"
                                                value="THUECLMM.COM" placeholder="Nhập tên website của bạn">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="" class="il-gray fs-14 fw-500 mb-10">Trạng thái</label>
                                            <select name="" class="form-control" id="">
                                                <option value="">Bật</option>
                                                <option value="">Tắt</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="il-gray fs-14 fw-500 mb-10">Phần quà 1 </label>
                                        <form>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Tỉ lệ</th>
                                                            <th>Phần thưởng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-row">
                                                        <tr data-id="6584395498c7cdcacaa25322">
                                                            <td>
                                                                <input type="text" name="min" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                            <td>
                                                                <input type="text" name="gift" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="il-gray fs-14 fw-500 mb-10">Phần quà 2 </label>
                                        <form>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Tỉ lệ</th>
                                                            <th>Phần thưởng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-row">
                                                        <tr data-id="6584395498c7cdcacaa25322">
                                                            <td>
                                                                <input type="text" name="min" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                            <td>
                                                                <input type="text" name="gift" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="il-gray fs-14 fw-500 mb-10">Phần quà 3 </label>
                                        <form>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Tỉ lệ</th>
                                                            <th>Phần thưởng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-row">
                                                        <tr data-id="6584395498c7cdcacaa25322">
                                                            <td>
                                                                <input type="text" name="min" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                            <td>
                                                                <input type="text" name="gift" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="il-gray fs-14 fw-500 mb-10">Phần quà 4 </label>
                                        <form>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Tỉ lệ</th>
                                                            <th>Phần thưởng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-row">
                                                        <tr data-id="6584395498c7cdcacaa25322">
                                                            <td>
                                                                <input type="text" name="min" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                            <td>
                                                                <input type="text" name="gift" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="il-gray fs-14 fw-500 mb-10">Phần quà 5 </label>
                                        <form>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Tỉ lệ</th>
                                                            <th>Phần thưởng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-row">
                                                        <tr data-id="6584395498c7cdcacaa25322">
                                                            <td>
                                                                <input type="text" name="min" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                            <td>
                                                                <input type="text" name="gift" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="il-gray fs-14 fw-500 mb-10">Phần quà 6 </label>
                                        <form>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Tỉ lệ</th>
                                                            <th>Phần thưởng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-row">
                                                        <tr data-id="6584395498c7cdcacaa25322">
                                                            <td>
                                                                <input type="text" name="min" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                            <td>
                                                                <input type="text" name="gift" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="il-gray fs-14 fw-500 mb-10">Phần quà 7 </label>
                                        <form>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Tỉ lệ</th>
                                                            <th>Phần thưởng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-row">
                                                        <tr data-id="6584395498c7cdcacaa25322">
                                                            <td>
                                                                <input type="text" name="min" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                            <td>
                                                                <input type="text" name="gift" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="il-gray fs-14 fw-500 mb-10">Phần quà 8 </label>
                                        <form>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Tỉ lệ</th>
                                                            <th>Phần thưởng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-row">
                                                        <tr data-id="6584395498c7cdcacaa25322">
                                                            <td>
                                                                <input type="text" name="min" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                            <td>
                                                                <input type="text" name="gift" class="form-control"
                                                                    value="1000000">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>




                                    <div class="text-center">
                                        <button class="btn btn-success btn-block"><i class="fas fa-save"></i>
                                            Lưu</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- [ site settings ] end -->
            </div><!-- [ Main Content ] end -->
        </div>
    </div>
    {{>foot}}
</body>


</html>